<template>
  <flag
    :iso="iso"
    :class="[
      'e-flag flag-icon',
      {
        'flag-icon--small': small,
        'flag-icon--inline': small && inline,
        'flag-icon--rounded': rounded,
      }
    ]"
  />
</template>

<script>
  import 'vue-flag-icon';
  import Flag from 'vue-flag-icon/components/icon/Flag.vue';
  import { extend } from '../utils/overrideUtils';

  const countryMap = {
    en: 'gb',
    ac: 'sh-ac',
    ta: 'sh-ta',
  };

  export default {
    components: { Flag: extend(Flag, { inheritAttrs: true }) },
    props: {
      language: {
        type: String,
        required: true,
      },
      small: {
        type: Boolean,
        default: () => false,
      },
      inline: {
        type: Boolean,
        default: () => false,
      },
      rounded: {
        type: Boolean,
        default: () => false,
      },
    },
    computed: {
      iso() {
        const language = this.language?.toLowerCase();
        return countryMap[language] || language;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .e-flag.flag-icon {
    height: 24px;
    font-size: 24px !important;
    line-height: 12px !important;

    &--small {
      height: 18px;
      font-size: 18px !important;
    }

    &--inline {
      margin-top: 3px; // to properly vertically align in a container with height=24px
    }

    &--rounded {
      border-radius: 50%;
    }
  }
</style>
