<template>
  <div
    v-if="items && items.length"
    v-element-resize="onResize"
    class="horizontally-fitted-list"
  >
    <div v-if="collapsed" class="list-chip-collapsed">
      <slot name="collapsed" v-bind="{num: items.length}" />
    </div>
    <template v-else>
      <div
        v-for="item in limitedItems"
        :key="item.id || item.name"
        class="pr-1 list-item"
      >
        <slot name="item" v-bind="{item}" />
      </div>
      <div v-if="more" class="list-chip-more">
        <slot name="more" v-bind="{num: nMore, moreItems}" />
      </div>
    </template>
  </div>
</template>

<script>
  import ElementResize from '../directives/ElementResize';
  import { get } from 'lodash';

  export default {
    directives: { ElementResize },
    props: {
      items: {
        type: Array,
        required: true,
      },
    },
    data: () => ({
      nVisible: 0,
      settledWidth: 0,
    }),
    computed: {
      limitedItems() {
        return this.items.slice(0, this.nVisible);
      },
      more() {
        return this.items.length > this.nVisible;
      },
      nMore() {
        return this.items.length - this.nVisible;
      },
      moreItems() {
        return this.items.slice(this.nVisible);
      },
      collapsed() {
        return this.nVisible <= 0;
      },
    },
    watch: {
      items: {
        handler() {
          this.nVisible = this.items.length;
          if (this.settledWidth) {
            this.$nextTick(() => this.onResize({ width: this.settledWidth }));
          }
        },
        immediate: true,
      },
    },
    methods: {
      onResize({ width }, content) {
        const rerun = () => {
          this.$nextTick(() => this.onResize({ width }, content)); //let vue redraw the element
        };
        const el = this.$el;
        if (el) {
          if (width > this.settledWidth) {
            this.nVisible = this.items.length;
            this.settledWidth = width;
            rerun();
          } else if (el.scrollWidth > width) {
            const items = Array.from(el.querySelectorAll('.list-item'));
            const moreChip = el.querySelector('.list-chip-more');
            const moreWidth = get(moreChip, 'offsetWidth') || 0;
            const bestFit = items.reduce((acc, item) => {
              if (acc.full) return acc;
              const itemWidth = item.offsetWidth || 0;
              const newWidth = acc.width + itemWidth;
              if (newWidth > width) return { ...acc, full: true };
              return {
                n: acc.n + 1,
                width: newWidth,
                full: false,
              };
            }, { n: 0, width: moreWidth, full: false });
            if (this.nVisible !== bestFit.n) {
              this.nVisible = bestFit.n;
              this.settledWidth = width;
              rerun();
            }
          }
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .horizontally-fitted-list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: clip;

    .list-item, .list-chip-more, .list-chip-collapsed {
      flex: 0 0 auto;
    }
  }
</style>
