<template>
  <div :class="['component-a', $attrs.class]">
    <div class="the-component">
      Component A
      <div class="the-item">
        Item A
      </div>
    </div>
  </div>
</template>

<script>
  import { configurable } from '../../utils/overrideUtils.js';

  export default configurable({}, config => ({
  }));
</script>

<style lang="scss" scoped>
  .component-a {
    color: red;

    .the-item {
      color: blue !important;
    }
  }
</style>
