<template>
  <div v-if="errors" :class="['error-text', $attrs.class]" v-text="errors" />
  <div v-else />
</template>

<script>
  import BaseCoreComponent from './BaseCoreComponent.vue';
  import { extend } from '../../utils/overrideUtils.js';

  export default extend(BaseCoreComponent, {
    props: {
      errors: {
        type: String,
        default: '',
      },
    },
  });
</script>

<style lang="scss" scoped>
  .error-text {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
</style>