<template>
  <component
    :is="tag"
    v-if="text || icon /*don't render anything if text and icon are empty for the current language*/"
    :href="href || undefined"
    :class="[
      'es-button', 'body-1',
      {
        primary,
        outlined,
        onlyIcon,
        disabled,
        loading,
        small
      },
      $attrs.class
    ]"
    :type="type"
    tabindex="0"
    v-bind="evIf(
      attrs('target', 'to', 'ui-id'),
      !href && listeners('focusin', 'focusout', 'keyup')
    )"
    v-on="evIf(!href && {click: onClick})"
  >
    <div :class="['content', { loading }]">
      <es-progress
        v-if="loading"
        :primary="!primary"
        small
        class="progress-indicator"
      />
      <slot>
        <span v-if="text" class="text-content">
          {{ text }}
        </span>
        <es-icon v-if="icon" :icon="icon" />
        <span v-if="onlyIcon" class="assist-only">
          {{ alt }}
        </span>
      </slot>
    </div>
  </component>
</template>

<script>
  import { configurable, extend } from '../../utils/overrideUtils.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';
  import EsIcon from './EsIcon.vue';
  import EsProgress from './EsProgress.vue';

  const componentMap = [
    vm => vm.href && 'a',
    vm => 'button', // this has to be the last one
  ];

  export default configurable({}, () => extend(BaseCoreComponent, {
    components: { EsProgress, EsIcon },
    props: {
      alt: {
        type: String,
        default: undefined,
      },
      text: {
        type: [String, Number],
        default: undefined,
      },
      icon: {
        type: String,
        default: undefined,
      },
      href: {
        type: String,
        default: undefined,
      },
      primary: {
        type: Boolean,
        default: false,
      },
      outlined: {
        type: Boolean,
        default: false,
      },
      loading: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      small: {
        type: Boolean,
        default: false,
      },
      submit: {
        type: Boolean,
        default: false,
      },
    },
    emits: ['click'],
    computed: {
      tag() {
        return componentMap.reduce((found, test) => found || test(this), undefined);
      },
      onlyIcon() {
        return this.icon && !this.text;
      },
      type() {
        return this.tag === 'button'
          ? this.submit
            ? 'submit'
            : 'button'
          : undefined;
      },
    },
    methods: {
      onClick(e) {
        e.preventDefault();
        this.$emit('click', e);
      },
    },
  }));
</script>

<style lang="scss" scoped>
  @use '../../styles/assist-helpers';
  @use '../../styles/colors';
  @use '../../styles/typography';
  @use '../../styles/tools';
  @use '../../styles/variables';

  button.es-button:not(.outlined) {
    border: 0;
  }

  .es-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--button-border-radius, 0);
    height: auto;
    text-transform: initial;
    text-decoration: none;
    box-sizing: border-box;
    white-space: normal;
    text-align: center;
    transition: background-color 0.2s ease-in-out;

    &.small {
      padding: 2px 12px;

      .content .es-icon {
        font-size: 1.2em;
      }
    }

    &.onlyIcon {
      padding: 8px;
      aspect-ratio: 1;
      &.small {
        padding: 4px;

        .content {
          line-height: 1;
        }
      }
    }

    .content {
      display: inline-flex;
      flex: 0 0 auto;
      height: 100%;
      max-width: 100%;
      align-items: center;
      gap: variables.$gap-h-half;

      &.loading {
        > :not(.progress-indicator) {
          opacity: 0;
        }
      }

      .progress-indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      :deep(.text-content) {
        @include tools.line-limit(2);
        @include typography.strong;
        text-overflow: ellipsis;
        min-width: 0;
        flex: 1 0 0;
      }

      .assist-only {
        @include assist-helpers.assist-only;
      }
    }

    &:focus,
    &:active,
    &:focus-visible {
      outline-offset: 2px;
      outline: 1px solid var(--primary);
    }

    &:not(.primary) { //default state or outlined
      background: var(--background);
      color: var(--neutral-hover);

      &:hover,
      &:focus,
      &:active {
        background: var(--neutral-halo);
      }
    }

    &.primary {
      background: var(--primary);
      color: var(--text-on-primary);

      &:not(.outlined) {
        border: none !important;
      }

      &.onlyIcon .es-icon {
        color: var(--text-on-primary, var(--background));
      }

      &:hover,
      &:focus,
      &:active {
        background: var(--primary-hover);
        outline-color: var(--primary-hover);
      }
    }

    &.outlined {
      border: variables.$line-thickness solid var(--neutral-line);
    }

    &.loading, &.disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }
</style>