<template>
  <div :class="['es-button-row', $attrs.class]">
    <template v-for="btn in _buttons">
      <template v-if="btn.component">
        <component
          :is="btn.component"
          :key="btn.key"
          v-bind="btn.props || {}"
          v-on="btn.on || {}"
        />
      </template>
      <template v-else>
        <config-button
          :key="btn.key"
          v-bind="btn"
          :[config.labelProperty]="btn.label"
          :disabled="btn.disabled"
          :small="btn.small || small"
          :target="!!btn.href && '_blank' || undefined"
          v-on="btn.onClick ? { click: btn.onClick } : {}"
        />
      </template>
    </template>
  </div>
</template>

<script>
  import ButtonDefinitionMixin from '../../mixins/ButtonDefinitionMixin.js';
  import { configurable, extend } from '../../utils/overrideUtils.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';
  import EsButton from './EsButton.vue';

  export default configurable({
    defaultKey: undefined,
    defaultComponent: EsButton,
    labelProperty: 'text',
  }, ({
    defaultKey,
    defaultComponent,
    labelProperty,
  }) => extend(BaseCoreComponent, {
    mixins: [
      ButtonDefinitionMixin.configure({ defaultKey }),
    ],
    components: {
      ConfigButton: defaultComponent,
    },
    props: {
      buttons: {
        type: Object,
        required: false, //either buttons or unwrapped-buttons are required
        default: () => ({}),
      },
      unwrappedButtons: {
        type: Array,
        required: false,
        default: undefined,
      },
      small: {
        type: Boolean,
        required: false,
        default: false,
      },
      forceLastPrimary: {
        type: Boolean,
        default: () => true,
      },
    },
    computed: {
      config: () => ({
        labelProperty,
      }),
      _buttons() {
        if (this.unwrappedButtons) return this.unwrappedButtons;
        const unwrapped = this.unwrapButtons(this.buttons);
        return this.forceLastPrimary ? this.lastIsPrimary(unwrapped) : unwrapped;
      },
    },
  }));
</script>