<template>
  <div
    :class="['es-checkbox', { clickable: !disabled, disabled }, $attrs.class]"
    tabindex="0"
    v-on="disabled ? {
      click: e => e.stopPropagation(),
      keyup: onKey({space: e => e.stopPropagation()}),
    } : {
      click: e => toggle(e),
      keyup: onKey({space: e => toggle(e)}),
    }"
  >
    <div class="input-row">
      <es-icon
        :class="{ checked }"
        :icon="checked ? 'mdi-checkbox-marked' : 'mdi-checkbox-blank-outline'"
      />
      <div class="label">
        <slot name="label">
          {{ label }}
        </slot>
      </div>
    </div>
    <error-text v-show="visited && errors" :errors="errors" />
  </div>
</template>

<script>
  import { isArray } from 'lodash';
  import { isSame } from '../../utils/objectUtils.js';
  import { extend } from '../../utils/overrideUtils.js';
  import BaseValidationField from './BaseValidationField.vue';
  import EsIcon from './EsIcon.vue';

  export default extend(BaseValidationField, {
    components: {
      EsIcon,
    },
    props: {
      label: {
        type: String,
        default: '',
      },
      value: {
        type: [String, Number, Object],
        required: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      checked() {
        if (isArray(this.vModel)) return this.vModel.some(item => isSame(item, this.value));
        return !!this.vModel;
      },
    },
    watch: {
      vModel: {
        handler(value) {
          this.visited = true;
        },
      },
    },
    methods: {
      toggle(e) {
        if (this.disabled) return;
        if (isArray(this.vModel)) {
          if (!this.checked) {
            this.vModel.push(this.value);
          } else {
            this.vModel = this.vModel.filter(v => !isSame(v, this.value));
          }
        } else {
          this.vModel = !this.vModel;
        }

        this.$emit(e.type, e);
      },
    },
  });
</script>

<style lang="scss" scoped>
  @use "../../styles/variables";

  .es-checkbox {
    display: flex;
    flex-direction: column;
    gap: variables.$half-gap;

    .input-row {
      display: flex;
      align-items: center;
      gap: variables.$half-gap;
    }

    .es-icon {
      flex: 0 0 auto;

      &.checked {
        color: var(--primary);
      }
    }

    &:focus-visible .es-icon {
      color: var(--primary);
      outline: 1px dotted var(--primary);
    }

    .label {
      flex: 1 1 0;
      text-align: left;
    }
  }
</style>