<template>
  <form :class="['es-form', $attrs.class]" v-bind="listeners('submit')">
    <slot :validity="onValidityChanged" :valid="valid" />
  </form>
</template>

<script>
  import VModelMixin from '../../mixins/VModelMixin.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';
  import { extend } from '../../utils/overrideUtils.js';

  export default extend(BaseCoreComponent, {
    mixins: [
      VModelMixin,
    ],
    data: () => ({
      validityStates: {},
    }),
    computed: {
      esFormValidator: () => true, //mark for fields seeking for form validator
      valid() {
        return Object.values(this.validityStates).every(v => v);
      },
    },
    watch: {
      valid: {
        immediate: true,
        handler(valid) {
          this.vModel = valid;
        },
      },
    },
    methods: {
      onValidityChanged(validityReport) {
        this.validityStates = {
          ...this.validityStates,
          ...validityReport,
        };
      },
    },
  });
</script>