<template>
  <span
    :class="['es-icon', computedClass, icon, $attrs.class, { large, small }]"
    aria-hidden="true"
    v-bind="{
      ...attrs('tabindex'),
      ...listeners('click', 'keyup')
    }"
  />
</template>

<script>
  import { extend } from '../../utils/overrideUtils.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';

  export default extend(BaseCoreComponent, {
    props: {
      icon: {
        type: String,
        required: true,
      },
      large: {
        type: Boolean,
        required: false,
      },
      small: {
        type: Boolean,
        required: false,
      },
    },
    computed: {
      computedClass() {
        return this.icon?.startsWith('mdi-') ? 'mdi' : '';
      },
    },
  });
</script>

<style lang="scss" scoped>
  @use '../../styles/colors';
  .es-icon {
    font-size: 1.5em;
    line-height: 1;
    display: inline-block;
    height: 1em;
    color: colors.transparent(currentColor, #{colors.$shade-faded});

    &.large {
      font-size: 2.5em;
    }
    &.small {
      font-size: 1em;
    }
  }
</style>
