<template>
  <div :class="['es-menu-container', {disabled}, $attrs.class]">
    <slot
      name="activator"
      v-bind="disabled ? {} : {
        on: {
          click: toggle,
          keyup: onKey({
            space: e => {
              e.preventDefault();
              toggle();
            },
            esc: hide,
          }),
        }
      }"
    />
    <div
      v-show="visible"
      ref="menuWrapper"
      v-element-resize="onListResize"
      class="menu-wrapper"
      :class="{ left, visible }"
      v-on="disabled ? {} : evIf(
        !persistent && {click: hide},
        {
          keyup: onKey(evIf(
            { esc: hide },
            !persistent && {space: hide, enter: hide},
          )),
        }
      )"
    >
      <slot name="menu" />
    </div>
  </div>
</template>

<script>
  import { debounce } from 'lodash';
  import ElementResize from '../../directives/ElementResize.js';
  import { VModelMixinOptional } from '../../mixins/VModelMixin';
  import { generateHex } from '../../utils/generateHex';
  import { extend } from '../../utils/overrideUtils.js';
  import { findScrollParent } from '../../utils/vueTools.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';

  export default extend(BaseCoreComponent, {
    directives: { ElementResize },
    mixins: [
      VModelMixinOptional,
    ],
    props: {
      left: {
        type: Boolean,
        default: false,
      },
      fullWidth: {
        type: Boolean,
        default: false,
      },
      persistent: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    data: () => ({
      visible: false,
      id: generateHex(),
    }),
    emits: ['blur'],
    watch: {
      vModel: {
        immediate: true,
        handler(v) {
          this.visible = v;
        },
      },
      visible(v) {
        this.vModel = v;
        if (!v) {
          const wrapper = this.$refs.menuWrapper;
          wrapper.style.top = '';
          wrapper.style.bottom = '';
        }
      },
    },
    mounted() {
      window.addEventListener('focusin', this.onBlur);
      window.addEventListener('click', this.onBlur);
    },
    beforeDestroy() {
      window.removeEventListener('focusin', this.onBlur);
      window.removeEventListener('click', this.onBlur);
    },
    methods: {
      toggle: debounce(function() {
        this.visible = !this.visible;
      }, 300, { leading: true, trailing: false }),
      hide() {
        this.visible = false;
      },
      onBlur(e) {
        if (!this.$el.contains(e.target)) {
          this.hide();
          this.$emit('blur');
        }
      },
      onListResize(_, __, el) {
        if (!this.visible) return;
        const { height } = el.getBoundingClientRect();
        const containerEl = el.closest('.es-menu-container');
        const scrollEl = containerEl && findScrollParent(containerEl);
        const container = containerEl?.getBoundingClientRect();
        const menuPosition = (typeof window === 'object') && window.getComputedStyle(el).position === 'fixed' ? 'fixed' : 'absolute';
        el.style.translate = '';
        if (container.bottom + height > window.innerHeight) {
          if (menuPosition === 'fixed') {
            el.style.top = '';
            el.style.bottom = (window.innerHeight - container.top) + 'px';
          } else {
            el.style.top = `${(-height)}px`;
            el.style.bottom = '';
          }
        } else {
          el.style.top = '';
          el.style.bottom = '';
          if (scrollEl && (scrollEl !== document.html) && ((menuPosition === 'fixed'))) {
            el.style.translate = `-${scrollEl.scrollLeft}px -${scrollEl.scrollTop}px`;
          }
        }
      },
    },
  });
</script>

<style scoped lang="scss">
  @use "../../styles/elevations";

  .es-menu-container {
    width: max-content;
    position: relative;

    &.disabled {
      pointer-events: none;
      color: var(--neutral-faded);
    }

    :deep(> *:first-child) {
      cursor: pointer;
    }

    .menu-wrapper {
      @include elevations.normal;
      color: var(--text);
      background: var(--card);
      position: absolute;
      z-index: 10;
      left: 0;
      width: max-content;
      transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
      transition-delay: 100ms;
      transform-origin: left top;
      border-radius: 4px;
      scroll-behavior: smooth;

      &:not(.visible) {
        opacity: 0.5;
        transform: scale(0.5);
      }

      &.visible {
        opacity: 1;
        transform: scale(1);
        overflow-y: auto;
      }

      &.left {
        right: 0;
        left: unset;
      }

      :deep( > .menu-item) {
        &:not(:first-child) {
          padding-top: 8px;
        }
        &:not(:last-child) {
          padding-bottom: 8px;
        }
      }
    }
  }

</style>
