<template>
  <config-text-field
    v-model="phone"
    v-bind="attrs('label', 'disabled')"
    class="es-phone-number"
    :error="errors"
  >
    <template v-for="(_, slot) in omit($slots, ['prepend', 'append'])" #[slot]="scope">
      <slot v-bind="scope" :key="slot" :name="slot" />
    </template>

    <template #prepend>
      <slot name="prepend" />
      <config-menu class="country-menu" v-bind="attrs('disabled')">
        <template #activator="{on}">
          <div class="country-selection" @click.stop="e => on && on.click(e)">
            <template v-if="selectedCountry">
              <e-flag rounded small :language="selectedCountry.code" />
              <div v-text="selectedCountry.number" />
            </template>
            <es-icon icon="mdi-chevron-down" />
          </div>
        </template>

        <template #menu>
          <div class="countries-dropdown">
            <div
              v-for="country in countries"
              :key="country.code"
              :class="['country-item clickable', {selected: country.code === countryCode}]"
              @click="countryCode = country.code"
            >
              <e-flag rounded small :language="country.code" />
              <div v-text="country.number" />
            </div>
          </div>
        </template>
      </config-menu>
    </template>

    <template #append>
      <es-button
        v-if="!!vModel"
        icon="mdi-close"
        small
        @click="onClear"
      />
      <slot name="append" />
    </template>
  </config-text-field>
</template>

<script>
  import parsePhoneNumber, { getCountries, getCountryCallingCode, isValidPhoneNumber } from 'libphonenumber-js';
  import { difference, differenceBy, flatten, omit, pickBy } from 'lodash';
  import VModelMixin from '../../mixins/VModelMixin.js';
  import { comparators } from '../../utils/comparators.js';
  import { arrayToObject, reassemble } from '../../utils/objectUtils.js';
  import { configurable, extend } from '../../utils/overrideUtils.js';
  import EFlag from '../EFlag.vue';
  import BaseValidationField from './BaseValidationField.vue';
  import EsButton from './EsButton.vue';
  import EsIcon from './EsIcon.vue';
  import EsMenu from './EsMenu.vue';
  import EsTextField from './EsTextField.vue';

  const priorityCountries = ['CH', 'DE', 'AT', 'IT', 'FR', 'LI'];

  const countryAliases = {
    US: ['AG', 'AI', 'AS', 'BB', 'BM', 'BS', 'DM', 'DO', 'GD', 'GU', 'JM', 'KN', 'KY', 'LC', 'MP', 'MS', 'PR', 'SX', 'TC', 'TT', 'VC', 'VG', 'VI'],
  };

  const countryAliasesMap = reassemble(
    countryAliases,
    (countryCode, aliases) => arrayToObject(aliases, alias => ({ [alias]: countryCode })),
  );

  export default configurable({
    textField: EsTextField,
    menu: EsMenu,
  }, ({
    textField,
    menu,
  }) => extend(BaseValidationField, {
    components: {
      ConfigTextField: textField,
      ConfigMenu: menu,
      EFlag,
      EsIcon,
      EsButton,
    },
    mixins: [VModelMixin],
    data: () => ({
      countryCode: undefined,
      phone: '',
    }),
    computed: {
      errors() {
        return [
          this.super.errors,
          !this.vModel || isValidPhoneNumber(this.vModel) ? undefined : this.$t('shared.error.notValidPhoneNumber'),
        ].filter(v => v).join(', ');
      },
      countries() {
        const countries = difference(getCountries(), flatten(Object.values(countryAliases)))
          .map(code => ({ code, number: `+${getCountryCallingCode(code)}` }))
          .sort(comparators.extract(country => country.number, comparators.string));
        const priorities = countries.filter(country => priorityCountries.includes(country.code));
        return [
          ...priorities,
          ...differenceBy(countries, priorities, 'code'),
        ];
      },
      selectedCountry() {
        const countryCode = this.countryCode;
        return countryCode && this.countries.find(country => country.code === countryCode);
      },
      fullPhoneNumber() {
        return `${this.selectedCountry?.number || ''}${this.phone}`;
      },
    },
    watch: {
      vModel: {
        immediate: true,
        handler(value) {
          if (!value || !isValidPhoneNumber(value)) return;
          const phoneNumber = parsePhoneNumber(value);
          if (phoneNumber) {
            const country = phoneNumber.country;
            this.countryCode = countryAliasesMap[country] || country;
            this.phone = phoneNumber.nationalNumber;
          }
        },
      },
      fullPhoneNumber(value) {
        this.vModel = value;
      },
    },
    methods: {
      omit,
      onClear() {
        this.countryCode = undefined;
        this.phone = '';
      },
    },
  }));
</script>

<style lang="scss" scoped>
  @use "../../styles/variables";
  @use "../../styles/colors";

  .country-menu {

    .country-selection {
      display: flex;
      align-items: center;
      column-gap: 4px;
      min-width: 48px;
      justify-content: flex-end;
    }

    .countries-dropdown {
      max-height: 300px;

      > .country-item {
        padding: variables.$default-gap;
        display: flex;
        gap: variables.$half-gap;
        align-items: center;

        &.selected {
          color: var(--primary);
        }

        &:hover {
          background: colors.transparent(currentColor, colors.$shade-halo);
        }
      }
    }
  }
</style>
