<template>
  <div
    :class="['es-progress-linear', $attrs.class]"
    title="Loading"
    aria-label="Loading"
    role="progressbar"
    :style="{'--height': height}"
  />
</template>

<script>
  import { numberToPixel } from '../../utils/stringUtils.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';
  import { extend } from '../../utils/overrideUtils.js';

  export default extend(BaseCoreComponent, {
    props: {
      size: {
        type: [Number, String],
        default: () => 2,
      },
    },
    computed: {
      height() {
        return numberToPixel(this.size);
      },
    },
  });
</script>

<style lang="scss" scoped>
  .es-progress-linear {
    position: relative;
    overflow: hidden;
    height: var(--height, 1px);
    background-color: var(--primary-line);

    &::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 100%;
      background-color: var(--primary);
      animation: lineAnim 1s linear infinite;
    }
  }

  @keyframes lineAnim {
    0% {
      left: -40%;
    }
    50% {
      left: 20%;
      width: 80%;
    }
    100% {
      left: 100%;
      width: 100%;
    }
  }
</style>
  