<template>
  <div
    :class="[
      'es-progress',
      'loader',
      { 'text-primary': primary },
      $attrs.class
    ]"
    :style="{
      '--size': sizes.size,
    }"
    title="Loading"
    aria-label="Loading"
  >
    <svg class="circular">
      <circle
        :class="{ small }"
        class="path"
        :cx="sizes.center"
        :cy="sizes.center"
        :r="sizes.radius"
        fill="none"
        :stroke-width="sizes.stroke"
        :stroke-miterlimit="sizes.stroke * 2"
      />
    </svg>
  </div>
</template>

<script>
  import { numberToPixel } from '../../utils/stringUtils.js';
  import BaseCoreComponent from './BaseCoreComponent.vue';
  import { extend } from '../../utils/overrideUtils.js';

  export default extend(BaseCoreComponent, {
    props: {
      small: {
        type: Boolean,
        default: false,
      },
      primary: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      sizes() {
        const { small } = this;
        const size = small ? 24 : 50;
        const stroke  = small ? 3 : 5;
        const center = size / 2;
        return {
          size: numberToPixel(size),
          center,
          stroke,
          radius: center - stroke,
        };
      },
    },
  });
</script>

<style lang="scss" scoped>
  $size: var(--size);

  .es-progress {
    display: inline-block;
    width: $size;
    height: $size;
    overflow: clip;

    .circular {
      animation: rotate 2s linear infinite;
      position: relative;
      width: $size;
      height: $size;

      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke: currentColor;
        stroke-linecap: round;

        &:not(.small) {
          animation: dash 1.5s ease-in-out infinite;
        }

        &.small {
          animation: dash-small 1.5s ease-in-out infinite;
        }
      }
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }

  @keyframes dash-small {
    0% {
      stroke-dasharray: 1, 100;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 44, 100;
      stroke-dashoffset: -17;
    }
    100% {
      stroke-dasharray: 44, 100;
      stroke-dashoffset: -52;
    }
  }
</style>
