<template>
  <config-menu
    v-model="open"
    :class="['es-select', $attrs.class]"
    :persistent="multiple"
    @blur="resetSearch"
  >
    <template #activator="{on}">
      <config-text-field
        v-model="vModelSearch"
        :disabled="disabled"
        :error="(!open && errors) || ''"
        :active-label="!!selection"
        :readonly="readonly"
        v-bind="attrs('loading')"
        v-on="disabled ? {} : {
          ...on,
          focus: on.click,
          keyup: onKey({
            down: () => open = true,
            space: () => { /*do nothing - space on text field activator shouldn't toggle menu (default behavior)*/ },
          }, on.keyup)
        }"
      >
        <template v-for="(_, slot) in pick($slots, ['prepend-outer', 'append-outer'])" #[slot]="scope">
          <slot v-bind="scope" :key="slot" :name="slot" />
        </template>

        <template #label>
          <slot name="label">
            {{ label }}
          </slot>
        </template>

        <template v-if="selection || $slots.prepend" #prepend>
          <slot v-if="$slots.prepend" name="prepend" />
          <slot v-if="selection" name="selection" v-bind="{selection}">
            <span>
              {{ selection }}
            </span>
          </slot>
        </template>

        <template #append>
          <es-icon
            v-if="!disabled && clearable && vModel"
            icon="mdi-close"
            class="clear-icon clickable"
            @click="vModel = undefined"
          />
          <es-icon
            :icon="open ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            class="clickable"
            :class="{ disabled }"
          />
        </template>
      </config-text-field>
    </template>

    <template #menu>
      <slot name="prepend-item" />
      <div
        v-for="item in displayItems"
        :key="item.value"
        v-on="item.disabled ? {
          click: e => e.stopPropagation(),
          keyup: onKey({
            space: e => e.stopPropagation(),
            enter: e => e.stopPropagation()
          })
        } : {
          click: () => select(item),
          keyup: onKey(evIf(
            {space: () => select(item)},
            !multiple && {enter: () => select(item)}
          )),
        }"
        @keydown.space.prevent="() => {/*prevent default scroll behavior*/}"
      >
        <slot name="item" v-bind="{item}">
          <config-checkbox
            v-if="multiple"
            :value="item.value"
            :disabled="item.disabled"
            :model-value="isSelected(item)"
            :class="['item', 'multiple', {
              clickable: !item.disabled,
              selected: isSelected(item),
            }]"
          >
            <template #label>
              <slot name="item-label" v-bind="{item}">
                {{ item.label }}
              </slot>
            </template>
          </config-checkbox>
          <div
            v-else
            tabindex="0"
            :class="['item', 'single', {
              clickable: !item.disabled,
              disabled: item.disabled,
              selected: isSelected(item),
            }]"
          >
            <slot name="item-label" v-bind="{item}">
              {{ item.label }}
            </slot>
          </div>
        </slot>
      </div>
      <div v-if="!displayItems.length" class="item" @click.stop.prevent="() => {/*Prevent the dropdown menu from closing when clicked if no data is available*/}">
        <slot name="no-data-text">
          {{ $t('shared.label.noDataAvailable') }}
        </slot>
      </div>
    </template>
  </config-menu>
</template>

<script>
  import { isFunction, isPlainObject, pick } from 'lodash';
  import { VModelDataAddonMixinOptional } from '../../mixins/VModelMixin.js';
  import { configurable, extend } from '../../utils/overrideUtils.js';
  import BaseValidationField from './BaseValidationField.vue';
  import EsCheckbox from './EsCheckbox.vue';
  import EsIcon from './EsIcon.vue';
  import EsMenu from './EsMenu.vue';
  import EsTextField from './EsTextField.vue';
  import { isSame } from '../../utils/objectUtils.js';

  export default configurable(
    {
      checkbox: EsCheckbox,
      textField: EsTextField,
      menu: EsMenu,
      readonly: false,
    },
    ({
      checkbox,
      textField,
      menu,
      readonly,
    }) => extend(BaseValidationField, {
      components: {
        EsIcon,
        ConfigCheckbox: checkbox,
        ConfigTextField: textField,
        ConfigMenu: menu,
      },
      mixins: [VModelDataAddonMixinOptional('search')],
      props: {
        items: {
          type: Array,
          required: true,
        },
        itemText: {
          type: [String, Function],
          default: 'label',
        },
        itemValue: {
          type: [String, Function],
          default: 'value',
        },
        label: {
          type: String,
          default: () => '',
        },
        multiple: {
          type: Boolean,
          default: false,
        },
        clearable: {
          type: Boolean,
          default: false,
        },
        disabled: {
          type: Boolean,
          default: false,
        },
      },
      data: () => ({
        open: false,
      }),
      computed: {
        readonly: () => readonly,
        structuredItems() {
          const { itemText, itemValue } = this;
          const getItemValue = (item, key) => {
            if (isFunction(key)) return key(item);
            if (!isPlainObject(item)) return item;
            return item[key];
          };
          return this.items.map(item => ({
            ...(isPlainObject(item) ? item : {}),
            label: getItemValue(item, itemText),
            value: getItemValue(item, itemValue),
          }));
        },
        selection() {
          const getLabel = value => this.structuredItems.find(i => isSame(i.value, value))?.label;
          return this.multiple
            ? (this.vModel || []).map(getLabel).filter(v => v).join(', ')
            : getLabel(this.vModel);
        },
        displayItems() {
          return this.vModelSearch
            ? this.structuredItems.filter(i => i.label.toLowerCase().includes(this.vModelSearch.toLowerCase()))
            : this.structuredItems;
        },
      },
      watch: {
        vModelSearch(value) {
          // Open only, never handle close even if there is no search content.
          // So user can clear the search without closing the dropdown
          const currentValue = !!value;
          if (currentValue) this.open = currentValue;
        },
      },
      methods: {
        pick,
        select(item) {
          if (this.multiple) {
            const _vModel = this.vModel || [];
            this.vModel = _vModel.some(v => isSame(v, item.value))
              ? _vModel.filter(i => !isSame(i, item.value))
              : [..._vModel, item.value];
          } else {
            this.vModel = item.value;
            this.resetSearch();
          }
        },
        isSelected(item) {
          if (this.multiple) {
            return (this.vModel || []).some(v => isSame(v, item.value));
          } else {
            return isSame(item.value, this.vModel);
          }
        },
        resetSearch() {
          this.vModelSearch = undefined;
        },
      },
    }),
  );
</script>

<style lang="scss" scoped>
  @use "../../styles/variables";
  @use "../../styles/colors";
  @use "../../styles/tools";

  .es-menu-container.es-select,
  .es-select {
    width: 100%;

    .es-text-field {
      cursor: unset;

      :deep(.input-row label) {
        --left-offset: 0px !important;

        .input-container {
          .input-field {
            position: static;
          }

          .prepend-slot {
            @include tools.line-limit(1);
            word-break: break-all;
            max-width: 80%;
          }
        }

        &:focus-within {
          .prepend-slot {
            max-width: 60%;
          }
        }
      }

      :deep(.clear-icon) {
        color: var(--primary);
      }
    }

    :deep(.menu-wrapper.visible) {
      color: var(--text);
      background: var(--background);
      min-width: 100%;
      max-width: max-content;
      max-height: 20vh;

      .item {
        padding: variables.$default-gap;

        &.single {
          display: block;
        }

        &.selected {
          color: var(--primary);
        }

        &.disabled {
          opacity: 0.6;
        }

        &:not(.disabled) {
          &:hover {
            background: colors.transparent(currentColor, colors.$shade-halo);
          }
        }

        &:focus-visible {
          outline: 1px dotted var(--primary);
          outline-offset: -2px;

          &.multiple .es-icon {
            outline: none;
          }
        }
      }
    }
  }
</style>