<template>
  <div :class="['es-tabs', $attrs.class]">
    <div
      v-if="leftScroller || rightScroller"
      :class="['tabs-scroller', 'left', { hidden: !leftScroller }]"
    >
      <es-button icon="mdi-chevron-left" @click="scroll(-1)" />
    </div>
    <div class="tabs-container">
      <div
        v-for="(item, index) in items"
        :key="item.key"
        :class="['tab', {active: index === vModel}]"
        @click="vModel = index"
      >
        <config-icon v-if="item.icon" :icon="item.icon" />
        <slot name="title" v-bind="{text: item.text, active: index === vModel}">
          <div class="body-1">
            {{ item.text }}
          </div>
        </slot>
      </div>
    </div>
    <div
      v-if="leftScroller || rightScroller"
      :class="['tabs-scroller', 'right', { hidden: !rightScroller }]"
    >
      <es-button icon="mdi-chevron-right" @click="scroll(1)" />
    </div>
  </div>
</template>

<script>
  import { debounce } from 'lodash';
  import { nextTick } from 'vue';
  import VModelMixin from '../../mixins/VModelMixin';
  import WatchManyMixin from '../../mixins/WatchManyMixin.js';
  import { intersectionObserver } from '../../utils/intersectionObserver.js';
  import { configurable } from '../../utils/overrideUtils.js';
  import EsButton from './EsButton.vue';
  import EsIcon from './EsIcon.vue';

  export default configurable({ icon: EsIcon }, ({ icon }) => ({
    components: { EsButton, ConfigIcon: icon },
    mixins: [
      VModelMixin,
      WatchManyMixin,
    ],
    props: {
      items: {
        type: Array,
        required: true,
      },
    },
    data: () => ({
      leftScroller: false,
      rightScroller: false,
      observers: [],
      visible: false,
    }),
    watch: {
      items: {
        immediate: true,
        handler(items) {
          this.observers.forEach(o => o.disconnect());
          this.observers = [];
          if (items?.length) {
            nextTick(() => {
              const tabs = this.$el?.querySelectorAll('.tab');
              const elementVisibilityRatio = 0.9;
              const threshold = [0.75, 0.9, 1];
              const options = {
                threshold,
                rootMargin: '100% 0px', // to observe only x axis. Ref: https://stackoverflow.com/a/68714239
              };
              const delay = 30;
              const observerLeft = intersectionObserver(
                debounce((_, ratio) => this.leftScroller = ratio <= elementVisibilityRatio, delay),
                tabs?.[0],
                options,
              );
              const observerRight = intersectionObserver(
                debounce((_, ratio) => this.rightScroller = ratio <= elementVisibilityRatio, delay),
                tabs?.[tabs.length - 1],
                options,
              );
              this.observers = [observerLeft, observerRight];
            });
          } else {
            this.leftScroller = false;
            this.rightScroller = false;
          }
        },
      },
    },
    watchMany: {
      visibleAndVModel: {
        keys: ['visible', 'vModel'],
        handler(visible, vModel) {
          if (!visible) return;
          this.$el?.querySelectorAll('.tab')[vModel]?.scrollIntoView({
            behavior: 'smooth',
            block: 'nearest',
            inline: 'center',
          });
        },
      },
    },
    mounted() {
      this.visibilityObserver = intersectionObserver((_, ratio) => this.visible = ratio === 1, this.$el);
    },
    beforeDestroy() {
      this.visibilityObserver?.disconnect();
    },
    methods: {
      scroll(direction) {
        const tabsContainer = this.$el?.querySelector('.tabs-container');
        const { width } = this.$el.getBoundingClientRect();
        tabsContainer?.scrollBy({
          left: width / 2 * direction,
          behavior: 'smooth',
        });
      },
    },
  }));
</script>

<style lang="scss" scoped>
  @use '../../styles/variables';
  @use '../../styles/typography';

  .es-tabs {
    //@extend %negative-mx-grid;
    display: flex;

    .tabs-scroller {
      flex: 0 0 auto;
      opacity: 1;
      transition: opacity ease-in-out 0.2s;

      &.hidden {
        opacity: 0;
      }

      .ew-button {
        background: transparent;
      }

      @media (max-width: variables.$md) { // mobile
        &.left {
          margin-right: 4px;
        }

        &.right {
          margin-left: 4px;
        }
      }

      @media (min-width: variables.$md) { // tablet and up
        &.left {
          margin-left: -48px;
          margin-right: 8px;
        }

        &.right {
          margin-right: -48px;
          margin-left: 8px;
        }
      }
    }

    .tabs-container {
      flex: 0 1 auto;
      display: flex;
      min-width: 0;
      overflow-x: auto;
      gap: variables.$default-gap;

      //scrollbars hiding
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
      }

      .tab {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.5em 0;
        white-space: nowrap;
        letter-spacing: .04em;
        transition:
          border-bottom-color ease-in-out .2s,
          color ease-in-out .2s;
        border-bottom: variables.$line-thickness-double solid transparent;

        &:hover {
          border-bottom-color: var(--neutral-line);
        }

        &.active {
          border-bottom-color: var(--primary);

          > *:not(.es-icon) {
            @include typography.strong;
          }
        }

        &:not(.active) {
          @include typography.faded;
          cursor: pointer;
        }

        > .es-icon {
          display: block;
          position: relative;
          top: -0.125em;
        }
      }
    }
  }

</style>