<template>
  <div
    :class="['input-container', {
      filled,
      'with-label': withLabel
    }]"
  >
    <label
      :for="label"
      :class="{
        filled,
        'with-label': withLabel,
      }"
    >
      <span :class="['label-body body-1', {outlined}]">
        <slot name="label">
          {{ label }}
        </slot>
      </span>
      <textarea
        ref="input"
        v-model="vModel"
        :class="['body-1', {outlined}]"
        :style="areaStyle"
        :disabled="disabled"
        v-bind="{
          ...attrs('ui-id', 'readonly'),
          ...rulesAttrs,
        }"
      />
      <textarea
        ref="shadow"
        v-model="vModel"
        class="shadow"
      />
      <error-text v-show="visited" :errors="errors" />
      <div v-if="hint" class="body-2 faded">
        {{ hint }}
      </div>
    </label>
  </div>
</template>

<script>
  import { nextTick } from 'vue';
  import { extend } from '../../utils/overrideUtils';
  import BaseValidationField from './EsToggle.vue';

  const maxHeight = 300;

  export default extend(BaseValidationField, {
    props: {
      label: {
        type: String,
        default: () => '',
      },
      outlined: {
        type: Boolean,
        default: () => false,
      },
      autofocus: {
        type: Boolean,
        default: () => false,
      },
    },
    data: () => ({
      areaHeight: 0,
    }),
    computed: {
      areaStyle() {
        return {
          'min-height': `${Math.min(maxHeight, this.areaHeight || 48)}px`,
          overflow: (this.areaHeight > maxHeight) ? 'auto' : 'hidden',
        };
      },
      filled() {
        return !!this.vModel || this.vModel === 0;
      },
      withLabel() {
        return this.label || this.$slots.label;
      },
    },
    watch: {
      vModel: {
        immediate: true,
        handler(v) {
          nextTick(() => {
            this.areaHeight = Math.max(this?.$refs?.shadow?.scrollHeight, 120);
          });
        },
      },
    },
    mounted() {
      if (this.autofocus) {
        setTimeout(this.focus, 50);
      }
    },
    methods: {
      focus() {
        this.$refs?.input?.focus();
      },
    },
  });
</script>

<style scoped lang="scss">
  @use "../../styles/tools";
  @use "../../styles/variables";

  $input-padding: 8px;
  .input-container {
    position: relative;
    display: flex;

    &.with-label,
    &.filled {
      padding-top: var(--font-size);
    }

    label {
      position: relative;
      flex: 1 1 0;

      .label-body {
        @include tools.line-limit(1);
        position: absolute;
        top: $input-padding;
        left: 0;
        transform-origin: top left;
        transition: all 0.2s ease-in-out;
        transition-delay: 100ms;
        color: var(--neutral-faded);
        pointer-events: none;
        max-width: 100%;
        text-overflow: ellipsis;

        &.outlined {
          padding: 0 $input-padding;
        }
      }

      &.filled,
      &:focus-within {
        .label-body {
          scale: 0.8;
          translate: 0 calc((-1.5 * $input-padding) - var(--font-size));
          max-width: 125%;
          width: 125%;
          padding: 0;
        }
      }
      &:focus-within .label-body {
        color: var(--primary);
      }

      textarea {
        box-sizing: border-box;
        flex: 1 1 auto;
        line-height: 20px;
        max-width: 100%;
        min-width: 0;
        width: 100%;
        resize: none;
        overflow: hidden;
        height: 0;
        border: none;
        padding: $input-padding 0;
        background-color: transparent;
        color: var(--text);

        &:not(.outlined) {
          border-bottom: 1px solid var(--neutral-line);

          &:focus {
            outline: none;
            border-bottom: 2px solid var(--primary);
          }
        }

        &.outlined {
          border-radius: 4px;
          outline-color: var(--primary);
          border: 1px solid var(--neutral-line);
          padding: $input-padding;
        }

        &.shadow {
          position: absolute;
          left: 0;
          top: 0;
          max-height: 0;
          pointer-events: none;
          opacity: 0;
          margin: 0;
        }
      }
    }
  }
</style>
