<template>
  <div :class="['es-text-field', 'body-1', $attrs.class]">
    <div v-if="$slots['prepend-outer']" class="prepend-outer-slot">
      <slot name="prepend-outer" />
    </div>
    <div ref="inputContainer" class="input-wrapper" @click="onClick">
      <div class="input-row" :class="{ disabled }">
        <label
          :for="label"
          :class="{
            filled,
            'active-label': activeLabel,
            'with-label': label || $slots.label
          }"
          :style="{
            '--left-offset': leftOffset,
          }"
        >
          <div class="input-container">
            <div v-if="$slots.prepend" class="prepend-slot">
              <slot name="prepend" />
            </div>
            <div v-element-resize="onResize" class="input-field">
              <span class="label-body body-1">
                <slot name="label">
                  {{ label }}
                </slot>
              </span>
              <div :class="['inner-input-wrapper', { disabled }]">
                <span v-if="prefix" class="prefix">
                  {{ prefix }}
                </span>
                <input
                  ref="input"
                  v-model="vModel"
                  type="text"
                  autocapitalize="off"
                  :disabled="disabled"
                  :class="['body-1', { disabled }]"
                  v-bind="{
                    ...attrs('type', 'ui-id', 'readonly'),
                    ...rulesAttrs,
                    ...listeners('focus', 'focusin', 'focusout', 'blur', 'keyup')
                  }"
                >
              </div>

            </div>
            <div v-if="$slots.append || clearable" class="append-slot">
              <es-button
                v-if="clearable && filled"
                icon="mdi-close"
                small
                @click="onClear"
              />
              <slot name="append" />
            </div>
          </div>
        </label>
        <config-progress-bar v-if="loading" :size="1" class="loading-indicator" />
      </div>
      <error-text v-show="visited" :errors="errors" />
      <div v-if="hint && !errors" class="body-2 faded">
        {{ hint }}
      </div>
    </div>
    <div v-if="$slots['append-outer']" class="append-outer-slot">
      <slot name="append-outer" />
    </div>
  </div>
</template>

<script>
  import ElementResize from '../../directives/ElementResize.js';
  import { configurable, extend } from '../../utils/overrideUtils';
  import { numberToPixel } from '../../utils/stringUtils.js';
  import BaseValidationField from './BaseValidationField.vue';
  import EsButton from './EsButton.vue';
  import EsProgressLinear from './EsProgressLinear.vue';

  export default configurable(
    {
      progressBar: EsProgressLinear,
    },
    config => extend(BaseValidationField, {
      components: {
        EsButton,
        ConfigProgressBar: config.progressBar,
      },
      directives: { ElementResize },
      data: () => ({
        leftOffset: undefined,
      }),
      computed: {
        errors() {
          return [this.super.errors, this.error].filter(v => v).join(', ');
        },
        filled() {
          return !!this.vModel || this.vModel === 0;
        },
      },
      props: {
        label: {
          type: String,
          default: () => '',
        },
        error: {
          type: String,
          default: () => undefined,
        },
        hint: {
          type: String,
          default: () => undefined,
        },
        autofocus: {
          type: Boolean,
          default: () => false,
        },
        disabled: {
          type: Boolean,
          default: false,
        },
        loading: {
          type: Boolean,
          default: () => false,
        },
        activeLabel: {
          type: Boolean,
          default: () => false,
        },
        prefix: {
          type: String,
          default: () => undefined,
        },
        clearable: {
          type: Boolean,
          default: false,
        },
      },
      emits: ['clear'],
      mounted() {
        setTimeout(() => {
          if (this.autofocus) {
            this.focus();
          }
        }, 200);
      },
      methods: {
        focus() {
          this.$refs?.input?.focus();
        },
        onClick() {
          const container = this.$refs?.inputContainer;
          if (container && !container.contains(document.activeElement)) {
            this.focus();
          }
        },
        onClear() {
          this.vModel = '';
          this.$emit('clear');
        },
        onResize(test, content, el) {
          this.leftOffset = numberToPixel(-el?.offsetLeft || 0);
        },
      },
    }),
  );
</script>

<style scoped lang="scss">
  @use "../../styles/tools";
  @use "../../styles/variables";

  $input-padding: 8px;

  .es-text-field {
    display: flex;
    align-items: center;
    gap: variables.$gap-h-half;

    &:has(.input-row > .with-label) {
      padding-top: var(--font-size);
    }

    .prepend-slot, .prepend-outer-slot, .append-slot, .append-outer-slot {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      gap: variables.$gap-h-half;
    }

    .input-wrapper {
      position: relative;
      flex: 1 1 0;

      .input-row {
        position: relative;
        display: flex;
        align-items: center;

        label {
          flex: 1 1 0;
          position: relative;

          .label-body {
            @include tools.line-limit(1);
            position: absolute;
            top: $input-padding;
            left: 0;
            transform-origin: top left;
            transition: all 0.2s ease-in-out;
            transition-delay: 100ms;
            color: var(--neutral-faded);
            pointer-events: none;
            max-width: 100%;
            text-overflow: ellipsis;
          }

          &.active-label,
          &.filled,
          &:focus-within {
            .label-body {
              scale: 0.8;
              translate: var(--left-offset) calc((-1.5 * $input-padding) - var(--font-size));
              max-width: 125%;
              width: 125%;
            }
          }
          &:focus-within .label-body {
            color: var(--primary);
          }

          .input-container {
            display: flex;
            align-items: center;
            gap: variables.$gap-h-half;

            .input-field {
              position: relative;
              flex: 1 1 0;
              .inner-input-wrapper {
                display: flex;
                align-items: center;
                color: var(--text);
                &.disabled {
                  color: var(--neutral-faded);
                }
                .prefix{
                  white-space:nowrap;
                }
              }
              input {
                padding: $input-padding 0;
                width: 100%;
                min-width: 0;
                max-width: 100%;
                border: none;
                background: transparent;
                color: var(--text);

                &:focus {
                  outline: none;
                }

                &.disabled {
                  color: var(--neutral-faded);
                }
              }
            }


          }
        }

        .loading-indicator {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 1;
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: variables.$line-thickness;
          scale: 1;
          pointer-events: none;
          transition:
            color 0.2s ease-in-out,
            opacity 0.2s ease-in-out,
            scale 0.2s ease-in-out;
          background: var(--neutral-line);
        }

        &:focus-within:after {
          scale: 1 2;
          background: var(--primary);
        }

        &:focus-within .loading-indicator {
          transform: scale(1, 2);
        }
      }
    }
  }
</style>
