<template>
  <div
    :class="['es-toggle', { right, inline, disabled }, $attrs.class]"
    @click="toggle"
  >
    <div>
      <div :class="['toggle-track', { active: !!vModel }]">
        <div
          class="toggle-knob"
          tabindex="0"
          @keyup.space="toggle"
          @keyup.left="setToggle(false)"
          @keyup.right="setToggle(true)"
        />
      </div>
      <error-text v-if="!inline" v-show="visited" :errors="errors" />
    </div>
    <div class="toggle-body body-1">
      <div :class="['label', {overline: !inline}]">
        <slot name="label">
          {{ label }}
        </slot>
      </div>
      <template v-if="inline">
        <error-text v-show="visited" :errors="errors" />
        <slot name="addons" />
      </template>
    </div>
  </div>
</template>

<script>
  import VModelMixin from '../../mixins/VModelMixin.js';
  import { extend } from '../../utils/overrideUtils.js';
  import BaseValidationField from './BaseValidationField.vue';

  export default extend(BaseValidationField, {
    mixins: [
      VModelMixin,
    ],
    props: {
      label: {
        type: String,
        default: () => '',
      },
      error: {
        type: String,
        default: () => undefined,
      },
      right: {
        type: Boolean,
        default: () => false,
      },
      inline: {
        type: Boolean,
        default: () => true,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },
    methods: {
      setToggle(value) {
        if (this.disabled) return;
        this.vModel = value;
      },
      toggle() {
        if (this.disabled) return;
        this.setToggle(!this.vModel);
      },
    },
  });
</script>

<style lang="scss" scoped>
  @use "../../styles/variables" as *;
  @use "../../styles/colors";
  @use "../../styles/elevations";

  .es-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $half-gap;

    &.inline.right {
      flex-direction: row-reverse;
    }

    &:not(.inline) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &.disabled {
      pointer-events: none;

      .toggle-track:before, .toggle-knob {
        opacity: 0.6;
      }
    }

    .toggle-track {
      $knob-size: 1.5rem;
      $track-size: 3rem;
      position: relative;
      width: $track-size;
      height: $knob-size;

      &:before {
        position: absolute;
        content: '';
        display: block;
        height: calc($knob-size * 0.66);
        left: 0;
        right: 0;
        top: 50%;
        translate: 0 -50%;
        border-radius: 9999vw;
        background: var(--neutral-line);
        transition: background 0.2s ease-out;
      }

      .toggle-knob {
        @include elevations.normal();
        position: absolute;
        content: '';
        display: block;
        height: $knob-size;
        width: $knob-size;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        border-radius: 50%;
        background: var(--neutral-inactive);
        transition: background 0.2s ease-in-out, translate 0.2s ease-in-out;
      }

      &.active {
        &:before {
          background: var(--primary-line);
        }
        .toggle-knob {
          translate: calc($track-size - 100%) -50%;
          background: var(--primary);
        }
      }
    }

    &:hover,
    &:focus-within {
      &:not(.disabled) {
        .toggle-knob {
          @include elevations.hover();
          outline: 0.75rem solid colors.transparent(var(--primary), colors.$step-1);
        }
      }
    }

    .toggle-body {
      flex: 1 1 0;
    }
  }
</style>
