<template>
  <div class="test-core-component">
    <cmp class="component" />
    <div>{{ caption }}</div>
    <div>{{ wrapped }}</div>
    <div v-text="hello" />
    <div v-text="`primary: ${primary}`" />
  </div>
</template>

<script>
  import ComponentA from './componentA.vue';
  import { configurable } from '../../utils/overrideUtils.js';

  export default configurable(
    {
      caption: 'original caption',
      TheComponent: ComponentA,
    },
    ({
      caption,
      TheComponent,
    }) => ({
      components: {
        cmp: TheComponent,
      },
      props: {
        primary: {
          type: Boolean,
          default: false,
        },
      },
      data: () => ({
        wrapped: 'nothing',
        count: 0,
      }),
      computed: {
        config: () => ({
          caption,
          TheComponent,
        }),
        caption: () => caption,
        hello() {
          this.wrap('hello', 'ignored', 'whatever');
          return `${this.primary} world ${this.count}`;
        },
      },
      methods: {
        wrap(message) {
          const v = `Wrapped(${message})`;
          this.wrapped = v;
          return v;
        },
      },
    }));
</script>

<style lang="scss" scoped>
  .test-core-component {
    :deep(.component) {
      color: deeppink;
    }
  }
</style>
