@use "./tools";

$line-color: #e0e0e0;
/* ---- grey shades ---- */
$grey-900: #212121;
$grey-800: #424242;
$grey-700: #616161;
$grey-600: #757575;
$grey-500: #9E9E9E;
$grey-400: #BDBDBD;
$grey-300: #E0E0E0;
$grey-200: #EEEEEE;
$grey-100: #F5F5F5;
$grey-50: #FAFAFA;

/* ---- main colors ---- */
$default-background: oklch(96% 0 0);
$default-text: oklch(24% 0 0);
$evenito: #009688;
$bar-color: #bbbbbb;

@mixin _theme-light {
  --window-background: #{$default-background};
  --background: #{$default-background};
  --text: #{$default-text};
  //--text-shader: oklch(20% 0 0);
  --card: white;
  --shadow: var(--text);
}
@mixin _theme-dark {
  --window-background: #{$default-text};
  --background: #{$default-text};
  --text: #{$default-background};
  //--text-shader: oklch(100% 0 0);
  --card: #0f0f0f;
  --shadow: var(--text);
}

$palettes: (primary, danger) !default;

$step-0: 5%;
$step-1: 10%;
$step-2: 20%;
$step-3: 40%;
$step-4: 60%;
$step-5: 80%;
$step-6: 95%;

$shade-halo: $step-0;
$shade-line: $step-1;
$shade-inactive: $step-3;
$shade-faded: $step-4;
$shade-hover: $step-5;

$_backgroundShades: (
  halo: $shade-halo,
  line: $shade-line,
  inactive: $shade-inactive,
  hover: $shade-hover,
);

@function transparent($color, $percent) {
  @return color-mix(in oklab, $color $percent, black 0%);
}

@function lighter($color, $percent) { // lighter -> closer to background, in dark theme actually makes it darker
  @return color-mix(in oklab, $color, var(--background) $percent);
}

@function darker($color, $percent) { // darker -> closer to text, in dark theme actually makes it lighter
  @return color-mix(in oklab, $color, var(--text) $percent);
}

@mixin neutral-scale {
  $palette: neutral;
  $colorVar: text;

  @each $shade, $percent in $_backgroundShades {
    $paletteShade: tools.join-non-empty(($palette, $shade), "-");
    --#{$paletteShade}: color-mix(in oklab, var(--background), var(--#{$colorVar}) #{$percent});
    @if(tools.strip-units($percent) >= 80) {
      --text-on-#{$paletteShade}: var(--background);
    }
  }
  --neutral: var(--text);
  --text-on-neutral: var(--background);
}

@mixin color-scale($color-name) {
  @each $shade, $percent in $_backgroundShades {
    $paletteShade: tools.join-non-empty(($color-name, $shade), "-");
    --#{$paletteShade}: color-mix(in oklab, var(--background), var(--#{$color-name}) #{$percent});
    @if (tools.strip-units($percent) >= 80) {
      --text-on-#{$paletteShade}: white;
    }
  }
  --text-on-#{$color-name}: white;

  --#{$color-name}-text: color-mix(in oklab, var(--text) 35%, oklch(from var(--#{$color-name}) 60% .3 h));
}

@mixin recompute-scales {
  @include neutral-scale;
  @each $palette in $palettes {
    @include color-scale($palette);
  }
}

@mixin shades {
  @include recompute-scales;
  background: var(--background, #{$default-background});
  color: var(--text, #{$default-text});
}

@mixin theme-root {
  @media (prefers-color-scheme: light) {
    &:not(.dark) {
      @include _theme-light;

      .theme-inverted {
        @include _theme-dark;
        @include shades;
      }
    }
  }
  &.light {
    @include _theme-light;

    .theme-inverted {
      @include _theme-dark;
      @include shades;
    }
  }

  @media (prefers-color-scheme: dark) {
    &:not(.light) {
      @include _theme-dark;

      .theme-inverted {
        @include _theme-light;
        @include shades;
      }
    }
  }
  &.dark {
    @include _theme-dark;

    .theme-inverted {
      @include _theme-light;
      @include shades;
    }
  }

  @include shades;
  .text-primary {
    @include text-primary;
  }
  .text-red {
    @include text-red;
  }
}

@mixin text-primary {
  color: var(--primary-text);
}

@mixin text-red {
  color: var(--danger-text);
}