// https://docs.google.com/spreadsheets/d/1GIgN4Zo7W-nISTWGOBKlWL9ZpuZzJRD2C8_VILPSFvM/edit?usp=sharing

$_shadow-color: color-mix(in oklab, var(--text, black) 10%, white 0%);

@mixin none {
  box-shadow: none;
}
@mixin normal {
  box-shadow: 0 1.0px 3.0px 0 $_shadow-color;
}
@mixin hover {
  box-shadow: 0 3.6px 7.9px 0 $_shadow-color;
}
@mixin huge {
  box-shadow: 0 6.1px 12.7px 0 $_shadow-color;
}

@mixin root-classes {
  --shadow-color: #{$_shadow-color};

  .elevation-0 {
    @include none;
  }
  .elevation-1 {
    @include normal;
  }
  .elevation-2 {
    @include hover;
  }
  .elevation-3 {
    @include huge;
  }
}