@use 'sass:math';

@mixin line-limit($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

@function strip-units($number) {
  @return math.div($number, ($number * 0 + 1));
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
    @if not $map {
      @return null;
    }
  }
  @return $map;
}

@function list-filter($list) {
  $filtered-list: (); // Initialize an empty list to store non-empty values
  @each $item in $list {
    @if $item != "" {
      $filtered-list: append($filtered-list, $item);
    }
  }
  @return $filtered-list; // Return the filtered list
}

@function list-join($list, $separator: "-") {
  $result: ""; // Initialize an empty string for the result
  @each $item in $list {
    $result: if($result == "", $item, #{$result}#{$separator}#{$item});
  }
  @return $result; // Return the joined string
}

@function join-non-empty($list, $separator: "-") {
  @return list-join(list-filter($list), $separator);
}