@use "./colors";
@import "https://cdn.evenito.com/fonts/raleway/style.css";

$normal-weight: 400 !default;
$bold-weight: 600 !default;
$bold-diff: 300 !default;
$default-font-set: Raleway, apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !default;
$addons: () !default;

@mixin defaults($name) {
  font-family: $default-font-set;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  $_addons: map-get($addons, $name);
  @if ($_addons != null) {
    @each $prop, $value in $_addons {
      #{$prop}: $value;
    }
  }
}

@mixin body {
  --font-size: var(--body-size);
  --font-weight: var(--body-weight);
  --line-height: var(--body-lineHeight);
  @include defaults("body");
}

@mixin h1 {
  --font-size: 18px;
  --font-weight: #{$bold-weight};
  --line-height: 1.2;
  @include defaults("h1");
}

@mixin h2 {
  --font-size: 14px;
  --font-weight: #{$bold-weight};
  --line-height: 1.29;
  @include defaults("h2");
}

@mixin body-2 {
  --font-size: 12px;
  --font-weight: #{$normal-weight};
  --line-height: 1.5;
  @include defaults("body-2");
}

@mixin overline {
  @include body;
  @include faded;
  @include defaults("overline");
  font-size: calc(0.8 * var(--font-size));
}

@mixin faded {
  color: colors.transparent(currentColor, colors.$shade-faded);
}

@mixin inactive {
  color: colors.transparent(currentColor, colors.$shade-inactive);
}

@mixin strong {
  font-weight: min(calc(var(--font-weight) + $bold-diff), 1000);
}

@mixin root-typography-classes {
  :root, & {
    --body-size: 14px;
    --body-weight: #{$normal-weight};
    --body-lineHeight: 1.43;
    @include body;
  }

  h1,
  .heading-1,
  .title {
    @include h1;
    margin: 0;
  }

  h2,
  .heading-2,
  .subtitle {
    @include h2;
    margin: 0;
  }

  html,
  body,
  %body-1,
  .body-1 {
    @include body;
  }

  .body-2 {
    @include body-2;
  }

  .overline {
    @include overline;
    @include faded;
  }

  .faded {
    @include faded;
  }

  .inactive,
  .disabled {
    @include inactive;
  }

  strong,
  .strong {
    @include strong;
  }

  p {
    &:not(:last-child) {
      margin: 0 0 .5em;
    }

    &:last-child {
      margin: 0;
    }
  }

  .error-text {
    @include body-2;
    color: colors.darker(red, 15%);
  }
}
