@use 'sass:math';

// screen breakpoints
$md: 600px;
$lg: 992px;
$xl: 1200px;

// gaps
$gap-h: 1.25rem;
$gap-v: 1rem;
$gap-h-half: math.div($gap-h, 2);
$gap-v-half: math.div($gap-v, 2);

$negative-gap-h: -$gap-h;
$negative-gap-v: -$gap-v;
$negative-gap-h-half: -$gap-h-half;
$negative-gap-v-half: -$gap-v-half;

$default-gap: $gap-v $gap-h;
$half-gap: $gap-v-half $gap-h-half;
$double-gap: (2 * $gap-v) (2 * $gap-h);

//lines
$line-thickness: var(--line-thickness, 1px);
$line-thickness-double: calc(2 * #{$line-thickness});
$line-thickness-quad: calc(4 * #{$line-thickness});